@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
  }

  /* Body1 or the default font style */
  body {
    font-size: 16px;
    font-feature-settings:
      'liga' 1,
      'calt' 1; /* fix for Chrome */
  }
}

/* custom classes that we can rewrite with the utility classes manually */
@layer components {
}
